[alias]
  a = add
  p = push
  st = status
  sb = status -sb
  ci = commit
  br = branch
  co = checkout
  d = diff
  ds = diff --staged
  dt = difftool
	dunk = !git diff | dunk
  l = log
  ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  last = log -1 HEAD --stat
  gl = config --global -l
  pro = pull --rebase origin main

[init]
	defaultBranch = main
	templateDir = ~/.git-template

[url "https://github.com/"]
	insteadOf = git://github.com/

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[include]
  path = ~/.dotfiles-personal/.gitconfig

[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX

[advice]
	addEmptyPathspec = false

[push]
	default = current
	autoSetupRemote = true

[core]
	excludesfile = ~/.gitignore-global

[difftool]
  prompt = false

[diff]
  tool = vimdiff

[difftool "vimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
