[alias]
  a = add
  p = push
  st = status
  sb = status -sb
  ci = commit
  br = branch
  co = checkout
  d = diff
  dv = difftool -t vimdiff -y
	dunk = !git diff | dunk
  l = log
  ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  last = log -1 HEAD --stat
  gl = config --global -l

[init]
	defaultBranch = main
	templateDir = /Users/joshuatonga/.git-template

[url "https://github.com/"]
	insteadOf = git://github.com/
