snippet lkeymap "import core keymap" b
local keymap = require 'joshuatonga.core.keymap'
local nnoremap = keymap.nnoremap
endsnippet

snippet lnoremap "destructure map functions" b
local ${1:n}noremap = keymap.$1noremap
endsnippet

snippet noremap "create remap" b
nnoremap('$1', '$2')
endsnippet
